.HeroJumbotron_no-img-wrap{
    top: -25vh;
    padding-top: 1vh;
    background-color: white;
    z-index: -1;
}

/*=============== IMG / TITLE WRAP*/
.HeroJumbotron_img-title-wrap {
    background-attachment: fixed;
    background-color: #FBFAFB;
    background-repeat: no-repeat;
    height:200px;
    z-index: 1000;
}

/* ==================   TITLE   =====================*/
.HeroJumbotron_title {
    font-size: 4vw;
    padding: 0 1em 0 1em;
    width: 50vw;
    text-align: center;
}

/*================ MEDIA QUERY (900px) ===============*/
@media (max-width: 900px) {
    .HeroJumbotron_wrap{
        top: -42vh;
    }


}

/*================ MEDIA QUERY (400px) ===============*/
@media (max-width: 600px) {

    .HeroJumbotron_title {
        font-size: 8vw;
        width: 90vw;
    }
    .HeroJumbotron_wrap{
        top: -55vh;
    }

}
