.RepairAward_bg-img{
    background-image: url("../../images/bg-graphics/repair-award/repair-line.png");
    /*background-image: url("../../images/bg-graphics/repair-award/award-1.png");*/
    /*background-image: url("../../images/bg-graphics/repair-award/repair-award-1-award.png");*/
    background-position: center;
    background-repeat: no-repeat;
    height: 96px;
}