.Services_NavBg{
    /*background-image: url("../../images/bg-graphics/services/services-light.png");*/
    background-image: url("../../images/bg-graphics/services/services.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 1450px;
    /*height: 450px;*/
    height: 600px;
}


.Services_nav_overlay {
    padding: 3em 22em 3em 22em;
    background-color: #161A1D;
    transition: .5s ease;
    /*border-left: 20px solid #B1A7A6;*/
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.6), 0 12px 20px 0 rgba(0, 0, 0, 0.4);

}

.Services_nav_hoverTitle:hover .Services_nav_overlay {
    bottom: 25%;
    top: 0;
    left:0;
    height: 100%;
    background-color: #F5F3F4;
    color: #660708;
    border-radius: 0;
    transform: scale(1.2);
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.6), 0 20px 20px 0 rgba(0, 0, 0, 0.4);

    /*border-top: 5px solid #B1A7A6;*/
    /*border-left: 20px solid #B1A7A6;*/
}

.Services_nav_text {
    font-size: 25px;
    letter-spacing: .1em;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.Services_text-box{
    /*margin-left: 3vw;*/
}

.Services_title{
    text-shadow: 2px 2px 4px #111111;
}