.Services_row{
    height: 400px ;
}
.Services_NavBg{
    /*background-image: url("../../images/bg-graphics/services/services-light.png");*/
    background-image: url("../../images/bg-graphics/services/services.png");
    background-repeat: no-repeat;
    background-position: center;
    /*width: 1450px;*/
    /*height: 450px;*/
    height: 600px;
}

.Services_title{
    margin-left: -5vw;
    font-size: 30px;
}

.Services_btn{
    width: 20vw;
    margin-left: -5vw;
    /*background-color: #F5F3F4;*/
    /*border: 1px solid #660708;*/
    /*color: #660708;*/
    color: #F5F3F4;
    font-size: 15px;
    font-weight: lighter;
    padding: 15px;
    z-index: 200;
    letter-spacing: .1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    background-color: #660708;

    /*margin-right: 6vw;*/
}

.Services_btn:hover{
    background-color: #F5F3F4;
    /*background-color: #660708;*/
    color: #660708;
    /*color: #F5F3F4;*/
    font-weight: lighter;
    border: none;
}


.Services_nav_overlay {
    /*padding: 3em 10em 3em 10em;*/
    /*padding: 3em 22em 3em 22em;*/
    /*background-color: #161A1D;*/
    /*background-color: #F5F3F4;*/
    color: #161A1D;
    transition: .5s ease;
    /*border-left: 20px solid #B1A7A6;*/
    /*box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.6), 0 12px 20px 0 rgba(0, 0, 0, 0.4);*/

}

.Services_nav_hoverTitle:hover .Services_nav_overlay {
    /*bottom: 25%;*/
    /*top: 0;*/
    /*height: 100%;*/
    /*background-color: #161A1D;*/
    cursor: pointer;
    /*background-color: #F5F3F4;*/
    color: #660708;
    /*border-radius: 0;*/
    transform: scale(1.1);
    /*transform: scale(1.2);*/
    /*box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.6), 0 20px 20px 0 rgba(0, 0, 0, 0.4);*/

    /*border-top: 5px solid #B1A7A6;*/
    /*border-left: 20px solid #B1A7A6;*/
}


.Services_form{
    background-image: url("../../images/bg-graphics/services/services-form-small.png");
    background-repeat: no-repeat;
    height: 238px;
    width: 194px;
}

.Services_nav_text {
    font-size: 28px;
    /*font-size: 25px;*/
    letter-spacing: .1em;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.Services_text-box{
    /*margin-left: 3vw;*/
}



