.Services_NavBg{
    background-image: url("../../images/bg-graphics/services/services.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 1450px;
    height: 450px;
}


.Services_nav_overlay {
    padding: 3em 12em 3em 12em;
    background-color: #161A1D;
    /*width: 100%;*/
    height:0;
    transition: .5s ease;
    border-left: 5px solid #F5F3F4;
}

.Services_nav_hoverTitle:hover .Services_nav_overlay {
    bottom: 25%;
    height: 100%;
    background-color: #F5F3F4;
    color: #660708;
    border-radius: 0;
    transform: scale(1.2);
    /*transform: scale(1.5);*/
    border-top: 10px solid #660708;
    /*border-bottom: 10px solid #660708;*/
    /*border-right: 5px solid #161A1D;*/
    border-left: none;
}

.Services_nav_text {
    font-size: 25px;
    letter-spacing: .1em;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}