/*IMG HOVER ZOOM IN*/
.animations_img-hover-zoom {
    /*height: 300px; !* [1.1] Set it as per your need *!*/
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

.animations_img-hover-zoom--slowmo img {
    transform-origin: 50% 65%;
    transition: transform 5s, filter 3s ease-in-out;
    filter: brightness(120%);
}

/* The Transformation */
.animations_img-hover-zoom--slowmo:hover img {
    filter: brightness(150%);
    transform: scale(2);
}

/*ZOOM IN AND OUT AUTO*/
/*.img-hover--zoom-rotate img {*/
/*    !*height: 300px; !* [1.1] Set it as per your need *!*!*/
/*    overflow: hidden; !* [1.2] Hide the overflowing of child elements *!*/
/*    animation:zoom 5s infinite;*/
/*    -webkit-animation:zoominout 5s infinite;*/
/*}*/


/* Chrome, Safari, Opera */
@-webkit-keyframes zoominout {
    0% {
        -webkit-transform: scale(1.15,1.15);
    }
    50% {
        -webkit-transform: scale(1,1);
    }
    100% {
        -webkit-transform: scale(1.15, 1.15);
    }
}
/* Standard syntax */
@keyframes zoominout {
    0% {
        -webkit-transform: scale(1.15,1.15);
    }
    50% {
        -webkit-transform: scale(1,1);
    }
    100% {
        -webkit-transform: scale(1.15, 1.15);
    }
}

.animations_img-hover-zoom--zoom-n-out img {
    -webkit-animation: zoominout 25s; /* Chrome, Safari, Opera */
    animation: zoominout 15s infinite;
}

/*    ZOOM IN OUT SLOW    */
@-webkit-keyframes zoominoutslow {
    0% {
        -webkit-transform: scale(1.15,1.15);
    }
    50% {
        -webkit-transform: scale(1,1);
    }
    100% {
        -webkit-transform: scale(1.15, 1.15);
    }
}
/* Standard syntax */
@keyframes zoominoutslow {
    0% {
        -webkit-transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(1.15,1.15);
    }
    100% {
        -webkit-transform: scale(1, 1);
    }
}

.animations_img-hover-zoom--zoom-n-out-slow img {
    -webkit-animation: zoominoutslow 25s; /* Chrome, Safari, Opera */
    animation: zoominoutslow 25s;
    overflow: hidden;
}

/*  ICON SPIN HOVER   */
.animations_icon-spin:hover {
    margin-right: 7px;
    top: 2px;
    animation: spin .6s infinite linear;
}

.animations_icon-font-size{
    font-size: 2em;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: scale(1) rotate(0deg);
    }
    to {
        -webkit-transform: scale(1) rotate(360deg);
    }
}
/* Standard syntax */
@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}
