
.animations_img-hover-zoom {
    overflow: hidden;
}

.animations_icon-font-size{
    font-size: 2em;
}

/*  =======  SLOW MO ZOOM  =======  */
.animations_img-hover-zoom--slowmo img {
    transform-origin: 50% 65%;
    transition: transform 5s, filter 3s ease-in-out;
    filter: brightness(120%);
}

.animations_img-hover-zoom--slowmo:hover img {
    filter: brightness(150%);
    transform: scale(2);
}

/*.animations_img-hover-zoom--zoom-n-out-slow img {*/
/*    -webkit-animation: zoominoutslow 25s; !* Chrome, Safari, Opera *!*/
/*    animation: zoominoutslow 25s;*/
/*    overflow: hidden;*/
/*}*/

/*  ======   ZOOM OUT  ======  */
.animations_img-hover-zoom-out img {
    -webkit-animation: zoomout 17s; /* Chrome, Safari, Opera */
    animation: zoomout 17s;
}

@-webkit-keyframes zoomout {
    0% {
        -webkit-transform: scale(1.1, 1.1);
    }
    100% {
        -webkit-transform: scale(1, 1);
    }

}
/* Standard syntax */
@keyframes zoomout {
    0% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}

/*  ======   ZOOM IN  ======  */
.animations_img-hover-zoom-in img {
    -webkit-animation: zoomin 17.5s; /* Chrome, Safari, Opera */
    animation: zoomin 17.5s;
}

@-webkit-keyframes zoomin {
    0% {
        -webkit-transform: scale(1, 1);
    }
    100% {
        -webkit-transform: scale(1.1, 1.1);
    }

}
/* Standard syntax */
@keyframes zoomin {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1.1, 1.1);
    }
}


/*  ======   ZOOM IN OUT  ======  */
.animations_img-hover-zoom-n-out {
    -webkit-animation: zoominout 25s; /* Chrome, Safari, Opera */
    animation: zoominout infinite 8s;
}

@-webkit-keyframes zoominout {
    0% {
        -webkit-transform: scale(1, 1);
        color: rgba(90, 00, 09, 1);
    }
    50% {
        -webkit-transform: scale(1.1,1.1);
        color: rgba(90, 00, 09, 1);
    }
    100% {
        -webkit-transform: scale(1, 1);
        color: rgba(90, 00, 09, 1);

    }
}
/* Standard syntax */
@keyframes zoominout {
    0% {
        -webkit-transform: scale(1, 1);
        color: rgba(90, 00, 09, 1);
    }
    50% {
        -webkit-transform: scale(1.1,1.1);
        color: rgba(90, 00, 09, 1);
    }
    100% {
        -webkit-transform: scale(1, 1);
        color: rgba(90, 00, 09, 1);
    }
}

/*   ========  ICON SPIN HOVER ========  */
.animations_icon-spin:hover {
    margin-right: 7px;
    top: 2px;
    animation: spin .6s infinite linear;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: scale(1) rotate(0deg);
    }
    to {
        -webkit-transform: scale(1) rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

/* SOCIAL ICONS FLIP */

/* entire container, keeps perspective */
.flip-container {
    /*perspective: 1000px;*/
    position: relative;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateX(-90deg);
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    transform-origin: 1% 1em;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateX(90deg);
}