* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    max-width: 100%;
    contain: content;
    background-image: url("../images/bg-graphics/body-bg.png");
}

html {
    scroll-behavior: smooth;
}

main {
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
    min-height: 80vh;
}
/*================= SITE THEME ===================*/
/* COLORS-BG */
.global_rich-black-bg{
    background-color: #0B090A;
}
.global_eerie-black-bg{
    background-color: #161A1D;
}
.global_blood-red-bg{
    background-color: #660708;
}
.global_silver-chalice-bg{
    background-color:  #B1A7A6;
}
.global_light-grey-bg{
    background-color: #D3D3D3;
}
.global_cultured-bg{
    background-color: #F5F3F4;
}
/* COLORS-FONT */
.global_rich-black{
    color: #0B090A;
}
.global_eerie-black{
    color: #161A1D;
}
.global_blood-red{
    color: #660708;
}
.global_silver-chalice{
    color:  #B1A7A6;
}
.global_light-grey{
    color: #D3D3D3;
}
.global_cultured{
    color: #F5F3F4;
}

/*================= CAROUSEL ======================*/
.global_dots{
    mask-image: url("../images/bg-graphics/fs-slider-dots3.png");
    /*mask-size: 100%;*/
    /*mask-repeat: unset;*/
    mask-position: center;
}

.global_carousel-bg{
    background-image: url("../images/bg-graphics/fs-slider-dots3.png");
    background-color: rgba(0,0,0,.7);
}
.global_carousel-text-bg{
    background-color: rgba(0,0,0, .2);
}

.global_title{
    font-size: 45px;
}

.global_span{
    font-size: 22px;
}

.global_text-box{
    margin-top: -58%;
}

.global_letter{
    font-size: 75px;
}

.global_carousel-decoration{
    color: red;
}

.global_caption-bg{
    mask-image: url("../images/bg-graphics/fs-slider-caption-bg.png");
    transform: rotateY(180deg) scaleY(-1);
    mask-repeat: no-repeat;
    mask-size: 115vw;
    margin-top: -40vh;
    border: 2px solid red;
}

/*================= SITE TITLES ===================*/

.global_title{
    font-size: 60px;
}

.global_title-letter{
    color: #660708;
    font-size: 75px;
}

.global_font-30px{
    font-size: 30px;
}

/* ============= AVIONICS JUMBO ===========*/
.Global_Avionics_bg-img{
    background-image: url("../images/bg-graphics/avionics/avionics-hero-img-overlay.png");
    background-position: center 5%;
}
.Global_Flir_bg-img{
    background-image: url("../images/bg-graphics/flir/flir-jumbo-img.png");
    background-position: center 5%;
}

.Global_graphic{
    background-image: url("../images/graphics/black-top-large-left.png");
    height: 300px;
    margin-top: -15vh;
    /*background-position: center 5%;*/
}