* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    max-width: 100%;
    contain: content;
    background-image: url("../images/bg-graphics/graphics/body-bg.png");
}

html {
    scroll-behavior: smooth;
}

main {
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
    min-height: 80vh;
}
/*================= SITE THEME ===================*/
/* COLORS-BG */
.global_rich-black-bg{
    background-color: #0B090A;
}
.global_eerie-black-bg{
    background-color: #161A1D;
}
.global_blood-red-bg{
    background-color: #660708;
}
.global_silver-chalice-bg{
    background-color:  #B1A7A6;
}
.global_light-grey-bg{
    background-color: #D3D3D3;
}
.global_cultured-bg{
    background-color: #F5F3F4;
}
/* COLORS-FONT */
.global_rich-black{
    color: #0B090A;
}
.global_eerie-black{
    color: #161A1D;
}
.global_blood-red{
    color: #660708;}

.global_white-txt-blood-red-bg-hover{
    color: #660708;
    background-color: white;
}
.global_white-txt-blood-red-bg-hover:hover{
    color: white;
    background-color: #660708;
}

.global_silver-chalice{
    color:  #B1A7A6;
}
.global_light-grey{
    color: #D3D3D3;
}
.global_cultured{
    color: #F5F3F4;
}

.global_blue{
    color: #2576e5;
}

.global_blue-bg{
    background-color: #2576e5
}

.global_red{
    color: red;
}

.global_red-bg{
    background-color: red;
}

.global_white-text-red-hover{
    color: white;
}

.global_white-text-red-hover:hover{
    color:red;
}

.global_red-text-white-hover{
    color: white;
}

.global_red-text-white-hover:hover{
    color:red;
}

/* ============== BORDER BTN ======================*/
.global_hover-border{
    background-color: #660708;
    color: white;
}

.global_hover-border:hover{
    border-top: 1px solid #660708;
    border-bottom: 1px solid #660708;
    background-color: transparent;
    color: #660708;
}

/*================= CAROUSEL ======================*/
.global_HeroCarousel-animation {
    -webkit-animation: zoomin 25s; /* Chrome, Safari, Opera */
    animation: zoomin infinite 25s;
    width: 100vw;
    height: 65vh;
    background-repeat: no-repeat;
    background-size: cover;
}

@-webkit-keyframes zoomin {
    0% {
        -webkit-transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(1.1, 1.1);
    }
    100% {
        -webkit-transform: scale(1, 1);
    }

}
/* Standard syntax */
@keyframes zoomin {
    0% {
        transform: scale(1, 1);
    }
    50%{
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }

}

.global_carousel-divider-img{
    width: 75vw;
}

.global_carousel-text-box{
    margin-top: -40vh;
    margin-left: -5vw;
    width: 75%
}

.global_carousel-title{
    font-size: 3vw !important;
}

.global_carousel-letter{
    font-size: 4vw !important;
}

.global_carousel-text{
    font-size: 1.5vw !important;
}

.global_carousel-text-top-bar{
    height: 1.5vh !important;
    margin-top: -3vh;
}

.global_carousel-text-btm-bar{
    height: 1.5vh !important;
    margin-top: 3vh;
}


/*================= SITE TITLES ===================*/

.global_title{
    font-size: 60px;
}

.global_title-letter{
    color: #660708;
    font-size: 75px;
}

.global_font-30px{
    font-size: 30px;
}

/* ============= AVIONICS JUMBO ===========*/
.Global_Avionics_bg-img{
    background-image: url("../images/bg-graphics/home-screen/home-section-body-bg/avionics-hero-img-overlay.png");
    background-position: center 5%;
}

.Global_Flir_bg-img{
    background-image: url("../images/bg-graphics/home-screen/home-section-body-bg/flir-jumbo-img.png");
    background-position: center 5%;
}

.Global_graphic{
    background-image: url("../images/bg-graphics/graphics/black-top-large-left.png");
    height: 300px;
    margin-top: -15vh;
    background-repeat: no-repeat;
}

.Global_graphic-productDisplayScreen{
    /*background-image: url("../images/bg-graphics/graphics/black-top-large-left.png");*/
    height: 10vh;
    /*-webkit-transform: rotateY(180deg);*/
    background-color: white;
    background-position: 0 25vh;
    z-index: 2;
    top:6vh;
    margin-top: -4vh;

}

.Global_graphic-productDisplayScreen-bg{
    margin-top: -5vh;
    top: 3vh;
    z-index: 1;
    background-color: white;
    /*height: 10vh;*/
}


/*    ======   MOBILE RESPONSIVE    ======    */
@media (max-width: 900px) {
    .global_carousel-divider-img{
        width: 250vw;
    }

    .global_carousel-title{
        font-size: 6vw !important;
    }

    .global_carousel-letter{
        font-size: 8vw !important;
    }

    .global_carousel-text{
        font-size: 3vw !important;
    }

    .global_carousel-text-box{
        text-align: center;
        width: 80vw;
    }



}

@media (max-width: 900px) {
    .App_mobile-sticky-header{

    }

}
