* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    max-width: 100%;
    contain: content;
    background-image: url("../images/bg-graphics/body-bg.png");
}

html {
    scroll-behavior: smooth;
}

main {
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
    min-height: 80vh;
}
/*================= SITE THEME ===================*/
/* COLORS-BG */
.global_rich-black-bg{
    background-color: #0B090A;
}
.global_eerie-black-bg{
    background-color: #161A1D;
}
.global_blood-red-bg{
    background-color: #660708;
}
.global_silver-chalice-bg{
    background-color:  #B1A7A6;
}
.global_light-grey-bg{
    background-color: #D3D3D3;
}
.global_cultured-bg{
    background-color: #F5F3F4;
}
/* COLORS-FONT */
.global_rich-black{
    color: #0B090A;
}
.global_eerie-black{
    color: #161A1D;
}
.global_blood-red{
    color: #660708;
}
.global_silver-chalice{
    color:  #B1A7A6;
}
.global_light-grey{
    color: #D3D3D3;
}
.global_cultured{
    color: #F5F3F4;
}

/*================= CAROUSEL ======================*/
.global_dots{
    background-image: url("../images/bg-graphics/fs-slider-dots3.png");
    mask-position: center;
    background-color: transparent;
    z-index: 1000;
}

/*.carousel-img{*/
/*    background-image: url("../images/bg-graphics/screen-maintenance/maintenance1.jpg");*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    width: 100vw;*/
/*    height: 75vh;*/

/*    -webkit-animation: zoomin 25s; !* Chrome, Safari, Opera *!*/
/*    animation: zoomin infinite 25s;*/
/*}*/

/*@-webkit-keyframes zoomin {*/
/*    0% {*/
/*        -webkit-transform: scale(1, 1);*/
/*    }*/
/*    50% {*/
/*        -webkit-transform: scale(1.1, 1.1);*/
/*    }*/
/*    100% {*/
/*        -webkit-transform: scale(1, 1);*/
/*    }*/

/*}*/
/*!* Standard syntax *!*/
/*@keyframes zoomin {*/
/*    0% {*/
/*        transform: scale(1, 1);*/
/*    }*/
/*    50%{*/
/*        transform: scale(1.1, 1.1);*/
/*    }*/
/*    100% {*/
/*        transform: scale(1, 1);*/
/*    }*/

/*}*/

.global_carousel-divider-img{
    width: 75vw;
}

.global_carousel-text-box{
    margin-top: -40vh;
    margin-left: -5vw;
    width: 75%
}

.global_carousel-title{
    font-size: 4vw !important;
}

.global_carousel-letter{
    font-size: 6vw !important;
}

.global_carousel-text{
    font-size: 2vw !important;
}

.global_carousel-text-top-bar{
    height: 1.5vh !important;
    margin-top: -3vh;
}
.global_carousel-text-btm-bar{
    height: 1.5vh !important;
    margin-top: 3vh;
}


/*================= SITE TITLES ===================*/

.global_title{
    font-size: 60px;
}

.global_title-letter{
    color: #660708;
    font-size: 75px;
}

.global_font-30px{
    font-size: 30px;
}

/* ============= AVIONICS JUMBO ===========*/
.Global_Avionics_bg-img{
    background-image: url("../images/bg-graphics/avionics/avionics-hero-img-overlay.png");
    background-position: center 5%;
}
.Global_Flir_bg-img{
    background-image: url("../images/bg-graphics/flir/flir-jumbo-img.png");
    background-position: center 5%;
}

.Global_graphic{
    background-image: url("../images/graphics/black-top-large-left.png");
    height: 300px;
    margin-top: -15vh;
    /*background-position: center 5%;*/
}

/*    ======   MOBILE RESPONSIVE    ======    */
@media (max-width: 900px) {
    .global_carousel-divider-img{
        width: 250vw;
    }

    .global_carousel-title{
        font-size: 6vw !important;
    }

    .global_carousel-letter{
        font-size: 8vw !important;
    }

    .global_carousel-text{
        font-size: 3vw !important;
    }

    .global_carousel-text-box{
        text-align: center;
        width: 90vw;
    }

}

/*@media only screen and (min-width: 768px) and (max-width: 1200px) {*/

/*    .product-page-section {*/
/*        min-width: 350px;*/
/*    }*/

/*    .product-page-section:nth-child(3) {*/
/*        margin: 20px 0 0 50%;*/
/*    }*/
/*}*/
