* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    max-width: 100%;
    contain: content;
    background-color: #F5F3F4;
}

html {
    scroll-behavior: smooth;
}

main {
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
    min-height: 80vh;
}

/*   ======    FONTS    ======    */
/*h1, .global_accentFont {*/
/*    font-family: 'Sanchez', serif;*/
/*}*/

.global_dots{
    background-image: url("../images/bg-graphics/graphics/dots-xl.png");
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.global_smooth-dots{
    background-image: url("../images/bg-graphics/graphics/smooth-overlay-boxed-bg.png");
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

h3 {
    padding: 1rem 0;
}

p{
    font-size: 16px;
}

.global_lighter-font-weight{
    font-weight: lighter;
}

.global_cursor:hover{
    cursor: pointer;
}

.global_cursor-underline:hover{
    cursor: pointer;
    text-decoration: underline;
}

/*================= SITE THEME ===================*/

.global_white {
    color: #fff;
}

.global_white-bg{
    background-color: #fff;
}

/*===========   RED */
.global_blood-red{
    color: #660708;
}

.global_blood-red-bg{
    background-color: #660708;
}
/*==========    BLACK*/
.global_black-bg{
    background-color: black;
}
.global_black{
    color: black;
}
/*==========    BLUE*/
.global_blue{
    color: #2576e5;
}

.global_blue-bg{
    background-color: #2576e5
}
/*=========     GOLDENROD*/
.global_goldenrod{
    color: #daa520;
}
.global_goldenrod-bg{
    background-color: #daa520;
}

.global_goldenrod-border-left{
    border-left: 1px solid #daa520;
}

.global_goldenrod-border-right{
    border-right: 1px solid #daa520;
}

.global_goldenrod-border-top{
    border-top: 1px solid #daa520;
}

.global_goldenrod-border-bottom{
    border-bottom: 1px solid #daa520;
}

/* =========    LIGHT GRAY*/
.global_light-transparent{
    background-color: rgba(255, 255, 255, .1);
}

/*===========   DARK GARY*/
.global_black-transparent{
    background-color: rgba(0,0,0,.9);
}

.global_whiteFontHover{
    color: rgba(255, 255, 255, .5)
}

.global_whiteFontHover:hover{
    color: #fff;
}

/*________________  BUTTONS */
.global_goldenrodtxt-btn {
    color: #daa520;
    font-weight: lighter;
    background-color: rgba(0,0,0,1);
    border-left: 1px solid rgba(0,0,0,1);
    border-right: 1px solid rgba(0,0,0,1);
}

.global_goldenrodtxt-btn:hover {
    color: #fff;
    background-color: rgba(0,0,0,1);
    border-left: 1px solid #daa520;
    border-right: 1px solid #daa520;
}

.global_whitehovergoldenrodtxt-btn {
    color: #fff;
    font-weight: lighter;
    background-color: rgba(0,0,0,1);
    border-left: 1px solid #daa520;
    border-right: 1px solid #daa520;
}

.global_whitehovergoldenrodtxt-btn:hover {
    color: #daa520;
}



/*=================== BORDERS*/
.global_goldenrodtxtborder-btn {
    color: #daa520;
    font-weight: lighter;
    background-color: rgba(0,0,0,1);
    border-left: 1px solid #daa520;
    border-right: 1px solid #daa520;
}

.global_goldenrodtxtborder-btn:hover {
    color: #fff;
    background-color: rgba(0,0,0,1);
    border-left: 1px solid #daa520;
    border-right: 1px solid #daa520;
}

.global_goldenrodtxthoverwhite{
    color: goldenrod;
}

.global_goldenrodtxthoverwhite:hover{
    color: #fff;
}

.global_font12px{
    font-size: 12px;
}

.global_sticky_scroll{
    position: absolute;
    top: 20vh;
    /*scroll-behavior: smooth;*/
    overflow-y: auto;
}

/*================= SITE TITLES ===================*/

.global_title{
    font-size: 60px;
}

.global_title-letter{
    color: #660708;
    font-size: 75px;
}

.global_font-30px{
    font-size: 30px;
}


/*    ======   MOBILE RESPONSIVE    ======    */
@media (max-width: 900px) {
    .carousel-caption h2 {
        font-size: 2.5vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {

    .product-page-section {
        min-width: 350px;
    }

    .product-page-section:nth-child(3) {
        margin: 20px 0 0 50%;
    }
}
