* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    max-width: 100%;
    contain: content;
    /*background-color: #fff;*/
    /*background: linear-gradient(to right, #1A1715, #4A433D);*/
    /*background: linear-gradient(to right, #161616, #3f3f3f);*/
    background-color: #F5F3F4;
}

.global_gradient{
    background: linear-gradient(to right, #1A1715, #4A433D);
}

.global_light-transparent{
    background-color: rgba(0,0,0,.3);
}

.global_black-transparent{
    background-color: rgba(0,0,0,.9);
}

html {
    scroll-behavior: smooth;
}

main {
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
    min-height: 80vh;
}

/*   ======    FONTS    ======    */
/*h1, .global_accentFont {*/
/*    font-family: 'Sanchez', serif;*/
/*}*/

.global_dots{
    background-image: url("../images/bg-graphics/graphics/dots-xl.png");
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.global_smooth-dots{
    background-image: url("../images/bg-graphics/graphics/smooth-overlay-boxed-bg.png");
}

.global_gray-bg{
    background-color: #313131;
}

.global_gray-bg-hover:hover{
    background-color: #fff;
}

.global_white {
    color: #fff;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

h3 {
    padding: 1rem 0;
}

p{
    font-size: 16px;
}

.global_lighter-font-weight{
    font-weight: lighter;
}

.global_cursor:hover{
    cursor: pointer;
}

.global_cursor-underline:hover{
    cursor: pointer;
    text-decoration: underline;
}

/*================= SITE THEME ===================*/
/* COLORS-BG */
.global_rich-black-bg{
    background-color: #0B090A;
}

.global_blood-red{
    color: #660708;
}

.global_blood-red-bg{
    background-color: #660708;
}

/*.global_silver-chalice-bg{*/
/*    background-color:  #B1A7A6;*/
/*}*/
/*.global_light-grey-bg{*/
/*    background-color: #D3D3D3;*/
/*}*/
/*.global_cultured-bg{*/
/*    background-color: #F5F3F4;*/
/*}*/
/* COLORS-FONT */
.global_rich-black{
    color: #0B090A;
}
.global_eerie-black{
    color: #161A1D;
}

.global_white-txt-blood-red-bg-hover{
    color: #660708;
    background-color: white;
}
.global_white-txt-blood-red-bg-hover:hover{
    color: white;
    background-color: #660708;
}

/*.global_silver-chalice{*/
/*    color:  #B1A7A6;*/
/*}*/
/*.global_light-grey{*/
/*    color: #D3D3D3;*/
/*}*/
.global_cultured{
    color: #F5F3F4;
}

.global_black-bg{
    background-color: black;
}
.global_black{
    color: black;
}

.global_blue{
    color: #2576e5;
}

.global_blue-bg{
    background-color: #2576e5
}

.global_white-text-red-hover{
    color: white;
}

.global_white-text-red-hover:hover{
    color:red;
}

.global_red-text-white-hover{
    color: white;
}

.global_red-text-white-hover:hover{
    color:red;
}

.global_goldenrod{
    color: #daa520;
}
.global_goldenrod-bg{
    background-color: #daa520;
}

/*________________  BUTTONS */
.global_goldenrodtxt-btn {
    color: #daa520;
    font-weight: lighter;
    background-color: rgba(0,0,0,1);
    border-left: 1px solid rgba(0,0,0,1);
    border-right: 1px solid rgba(0,0,0,1);
}

.global_goldenrodtxt-btn:hover {
    color: #fff;
    background-color: rgba(0,0,0,1);
    border-left: 1px solid #daa520;
    border-right: 1px solid #daa520;
}

.global_goldenrodtxtborder-btn {
    color: #daa520;
    font-weight: lighter;
    background-color: rgba(0,0,0,1);
    border-left: 1px solid #daa520;
    border-right: 1px solid #daa520;
}

.global_goldenrodtxtborder-btn:hover {
    color: #fff;
    background-color: rgba(0,0,0,1);
    border-left: 1px solid #daa520;
    border-right: 1px solid #daa520;
}





.global_bisonRedTxt {
    color: rgba(90, 00, 09, 1);
}

.global_bisonRedFadedBgColor {
     background-color: rgba(0, 00, 0, .1);
}

/*.global_bisonDarkFadedBgColorHover:hover{*/
/*    background: linear-gradient(to right, #4A433D, #1A1715);*/
/*    !*background-color: rgba(0, 0, 0, .1);*!*/
/*    !*border: 1px solid #3f3f3f;*!*/
/*    !*border-left:none;*!*/
/*}*/

.global_whiteFontRedHoverWhiteBg:hover {
    background-color: #fff;
    color: rgba(90, 00, 09, 1)
}

.global_bisonFadedRedHover:hover{
    background-color: rgba(90, 00, 09, .1);
}

.global_redFontHover:hover{
    color: rgba(90, 00, 09, 1)
}

/*.global_bisonRedBg{*/
/*    background-color: rgba(90, 00, 09, 1);*/
/*}*/

/*.global_bisonRedDarkerFadedTextColor{*/
/*    color: rgba(90, 00, 09, .8);*/
/*}*/

/*.global_bisonRedBgWhiteHoverBgBtnRedBorder {*/
/*    background-color: rgba(90, 00, 09, 1);*/
/*    color: white;*/
/*}*/

/*.global_bisonRedBgWhiteHoverBgBtnRedBorder:hover {*/
/*    background-color: white;*/
/*    color: rgba(90, 00, 09, 1);*/
/*    border: 1px solid rgba(90, 00, 09, 1);*/
/*}*/

/*.global_bisonRedBgWhiteHoverBgBtn {*/
/*    background-color: rgba(90, 00, 09, 1);*/
/*    color: white;*/
/*}*/

/*.global_bisonRedBgWhiteHoverBgBtn:hover {*/
/*    background-color: white;*/
/*    color: rgba(90, 00, 09, 1);*/
/*}*/

/*.global_RedFontWhiteBgBtn {*/
/*    background-color: #fff;*/
/*    color: rgba(90, 00, 09, 1);*/
/*}*/

/*.global_RedFontWhiteBg:hover {*/
/*    background-color: rgba(90, 00, 09, 1);*/
/*    color: white;*/
/*}*/

.global_bisonWhiteBgBtnSearch {
    background-color: #f6f5f8;
    color: rgba(90, 00, 09, 1);
}

.global_bisonWhiteBgBtnSearch:hover {
    background-color: rgba(90, 00, 09, 1);
    color: white;
}

.global_bisonRedFontWhiteBg{
    color: rgba(90, 00, 09, 1);
    background-color: #fff;
}

/*.global_heart-whiteBgRedHover{*/
/*     color: rgba(90, 00, 09, 1);*/
/*     !*background-color: white;*!*/
/* }*/

/*.global_heart-whiteBgRedHover:hover{*/
/*    color: rgba(90, 00, 09, 1);*/
/*    !*background-color: white;*!*/
/*}*/

.global_whiteFontRedFontHover{
    color: #fff;
}

.global_whiteFontRedFontHover:hover{
    color: rgba(90, 00, 09, 1);
}

/*.global_circleHover:hover {*/
/*    background-color: black;*/
/*}*/

.global_bisonWhiteFont{
    color: white;
}

.global_smallFont{
    font-size: 12px;
}

.global_whiteFontHover:hover{
    color: white;
    cursor: pointer;
}

.global_sticky_scroll{
    position: absolute;
    top: 20vh;
    /*scroll-behavior: smooth;*/
    overflow-y: auto;
}

/*================= SITE TITLES ===================*/

.global_title{
    font-size: 60px;
}

.global_title-letter{
    color: #660708;
    font-size: 75px;
}

.global_font-30px{
    font-size: 30px;
}

/*.global_why-bg{*/
/*    background-image: url("../images/bg-graphics/whyBison/why.png");*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*}*/


/*    ======   MOBILE RESPONSIVE    ======    */
@media (max-width: 900px) {
    .carousel-caption h2 {
        font-size: 2.5vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {

    .product-page-section {
        min-width: 350px;
    }

    .product-page-section:nth-child(3) {
        margin: 20px 0 0 50%;
    }
}
