* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    max-width: 100%;
    contain: content;
    background-color: #fff;
}

html {
    scroll-behavior: smooth;
}

main {
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
    min-height: 80vh;
}

/*   ======    FONTS    ======    */
h1, .global_accentFont {
    font-family: 'Sanchez', serif;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

h3 {
    padding: 1rem 0;
}

p{
    font-size: 16px;
}

.global_lighter-font-weight{
    font-weight: lighter;
}

/*   ======   SITE COLOR   ======   */
.global_cursor:hover{
    cursor: pointer;
}

.global_cursor-underline:hover{
    cursor: pointer;
    text-decoration: underline;
}

.global_bisonRedTxt {
    color: rgba(90, 00, 09, 1);
}

.global_bisonRedFadedBgColor {
     background-color: rgba(0, 00, 0, .1);
}

.global_bisonDarkFadedBgColorHover:hover{
    background-color: rgba(0, 0, 0, .1);
}

.global_whiteFontRedHoverWhiteBg:hover {
    background-color: #fff;
    color: rgba(90, 00, 09, 1)
}

.global_bisonFadedRedHover:hover{
    background-color: rgba(90, 00, 09, .1);
}

.global_redFontHover:hover{
    color: rgba(90, 00, 09, 1)
}

/*.global_bisonRedBg{*/
/*    background-color: rgba(90, 00, 09, 1);*/
/*}*/

/*.global_bisonRedDarkerFadedTextColor{*/
/*    color: rgba(90, 00, 09, .8);*/
/*}*/

.global_bisonRedBgWhiteHoverBgBtnRedBorder {
    background-color: rgba(90, 00, 09, 1);
    color: white;
}

.global_bisonRedBgWhiteHoverBgBtnRedBorder:hover {
    background-color: white;
    color: rgba(90, 00, 09, 1);
    border: 1px solid rgba(90, 00, 09, 1);
}

.global_bisonRedBgWhiteHoverBgBtn {
    background-color: rgba(90, 00, 09, 1);
    color: white;
}

.global_bisonRedBgWhiteHoverBgBtn:hover {
    background-color: white;
    color: rgba(90, 00, 09, 1);
}

.global_RedFontWhiteBgBtn {
    background-color: #fff;
    color: rgba(90, 00, 09, 1);
}

.global_RedFontWhiteBg:hover {
    background-color: rgba(90, 00, 09, 1);
    color: white;
}

.global_bisonWhiteBgBtnSearch {
    background-color: #f6f5f8;
    color: rgba(90, 00, 09, 1);
}

.global_bisonWhiteBgBtnSearch:hover {
    background-color: rgba(90, 00, 09, 1);
    color: white;
}

.global_bisonRedFontWhiteBg{
    color: rgba(90, 00, 09, 1);
    background-color: #fff;
}

.global_heart-whiteBgRedHover{
    color: rgba(90, 00, 09, 1);
    /*background-color: white;*/
}

.global_heart-whiteBgRedHover:hover{
    color: rgba(90, 00, 09, 1);
    /*background-color: white;*/
}

.global_whiteFontRedFontHover{
    color: #fff;
}

.global_whiteFontRedFontHover:hover{
    color: rgba(90, 00, 09, 1);
}


/*   ======    HORIZONTAL GRADIENTS   ======  */
.global_right-gradient{
    background-image: linear-gradient(to right, rgba(90, 00, 09, 1), #fff);
}

.global_left-gradient{
    background-image: linear-gradient(to left, rgba(90, 00, 09, 1), #fff);
}

.global_black-horizontal-gradient {
    background: linear-gradient(rgba(04, 06, 07, 1), #fff, #fff);
}

.global_red-horizontal-gradient {
    background: linear-gradient(#87CEEB, #fff, #fff);
}

.global_circleHover:hover {
    background-color: black;
}

.global_bisonWhiteFont{
    color: white;
}

.global_smallFont{
    font-size: 12px;
}

.global_whiteFontHover:hover{
    color: white;
    cursor: pointer;
}

.global_sticky_scroll{
    position: absolute;
    top: 20vh;
    /*scroll-behavior: smooth;*/
    overflow-y: auto;
}


/*    ======   MOBILE RESPONSIVE    ======    */
@media (max-width: 900px) {
    .carousel-caption h2 {
        font-size: 2.5vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {

    .product-page-section {
        min-width: 350px;
    }

    .product-page-section:nth-child(3) {
        margin: 20px 0 0 50%;
    }
}
