/*      DESKTOP HEADER        */
.DesktopHeader_logo {
    /*height: 15vh;*/
    height: 12vh;
    max-height: 100%;
    cursor: pointer;
}

.DesktopHeader_search_btn_padding{
    /*padding-top: 1.82em;*/
    /*padding: -1em -1em;*/
    padding: .95em 1em;
    background-color:  #4A433D;
}

.DesktopHeader_nav {
    height: 15vh;
    /*height: 20vh;*/
    /*max-height: 100%;*/
    /*margin-top: -7vh;*/
    /*top: -6vh;*/
    bottom: 0;
    z-index: 2;
    background-image: url("../images/bg-graphics/graphics/dots.png");
    background-color: rgba(0,0,0, .9);
}

/*       STICKY HEADER       */

.StickyHeader_searchBox{
    width: 16vw;
    /*margin-top: 6vh;*/
    padding-top: 1.5vh;
    margin: 0;
}

.StickyHeader_nav{
    background-image: url("../images/bg-graphics/graphics/dots.png");
    background-color: rgba(0,0,0, .9);
    height: 6vh;
}

.StickyHeader_search_btn_padding{
    /*padding-top: 2em;*/
    /*padding-bottom: 1.45em;*/
    padding: .87em .8em;
    background-color:  #4A433D;
    color: #000;
}

.StickyHeader_search_btn_padding:hover{
    background-color: #660708;
    color: white;
}

.StickyHeader_icon-size{
    font-size: 1.5em;
}

.StickyHeader_search-gradient{
    /*background: linear-gradient(to right, #161A1D, #B1A7A6);*/
}

/* HIDE AND SHOW ICONS */
.StickyHeader_iconHidden .StickyHeader_hideIcon {
    display: none;
}

.StickyHeader_iconHidden:hover .StickyHeader_hideIcon {
    display: inherit;
}

.StickyHeader_iconHidden:hover .StickyHeader_hideWords {
    display: none;
}

.StickyHeader_links{
    color: rgba(255,255,255, 0.5);
}

.StickyHeader_links:hover{
    color: white;
}

.StickyHeader_contact-btn{
    background-color: #660708;
    color: white;
}

.StickyHeader_contact-btn:hover{
    background-color: white;
    color: #660708;
}

/*   NAV BOOTSTRAP DROPDOWN STYLE    */
.navbar-toggler {
    border: none;
}

.navbar-toggler.show {
    border: none;
}

button.navbar-toggler:hover {
    background-color: rgba(90, 00, 09, 1);
    color: white;
    border-radius: 20%;
}

.dropdown-menu {
    border-left: 5px solid rgba(90, 00, 09,1);
    background-color: black;
    color: white;
}

.dropdown-item {
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
}

.dropdown-item:hover {
    background-color: rgba(90, 00, 09, 1);
    color: white;
}


/*       MOBILE HEADER       */


.MobileHeader_logo {
    height: 12vh;
}

.MobileHeader_search_btn_padding{
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
}

.MobileHeader_text{
    font-size: 2.5vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    border-bottom: .01vh solid rgba(255,255,255, .1);
}

.MobileHeader_text:hover{
    background-color: #2576e5;
    color: white;
}

.MobileHeader_login-text{
    font-size: 2.5vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
    background-color: #660708;
    color: white;
    margin-top: auto;
}

.MobileHeader_login-text:hover{
    background-color: #2576e5;
    color: white;
}

.MobileHeaderAdmin_text{
    font-size: 2.5vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
    background-color:lightgrey;
    color: black;
    border-bottom: 1px solid black;
}

.MobileHeaderAdmin_text:hover{
    background-color: gray;
}

.MobileHeader_cart-length{
    margin-left: 50vw;
    border: 1px solid white;
}

@-webkit-keyframes borderBlink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: #2576e5;
    }
}
@keyframes borderBlink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: #2576e5;
    }
}
.borderBlink{
    border-left: 2px solid #2576e5;
    /* add 'border-color: transparent' if you wish no border to show initially */
}
.borderBlink {
    -webkit-animation: borderBlink 3s step-end infinite;
    animation: borderBlink 3s step-end infinite;
}

/*    ======   MOBILE RESPONSIVE    ======    */
@media (max-width: 500px) {
    .MobileHeader_text{
        font-size: 4vw;
    }

}

@media (max-width: 1000px) {
    .StickyHeader_searchBox {
        width: 100vw;
        padding: 1.5vh 2vh;
        margin: 0;
        display: flex;
        justify-content: center;
        scroll-behavior: auto;
    }
}

@media (max-width: 500px) {
    .MobileHeader_cart-length {
        margin-left: 30vw;
    }
}