
.logoNav {
    height: 18vh;
    max-height: 100%;
}

.navigationBtns{
    font-size: small;
    /*padding-left: 15%;*/
}

.topNav {
    height: 20vh;
    max-height: 100%;
}

.headerBtn {
    background-color: darkred;
}

.headerBtn:hover {
    background-color: black;
}


.iconHover:hover{
    background-color: darkred;
    border-radius: 50%;
}

.profileBtns {
    font-size: larger;
}


