
.logoNav {
    height: 15vh;
    max-height: 100%;
}

.navigationBtns{
    font-size: small;
    /*padding-left: 15%;*/
}

.topNav {
    height: 20vh;
    max-height: 100%;
    margin-top: -7vh;
    z-index: 2;
}

.iconHover:hover{
    background-color: darkred;
    border-radius: 20%;
}

.profileBtns {
    font-size: larger;
}

/*.searchBtnColor{*/
/*    background-color: #f7f7f9;*/
/*}*/

/*.searchBtnColor:hover{*/
/*    background-color: darkred;*/
/*    color: black;*/
/*}*/

.blackFade{
    background-image: url("../images/graphics/small-black-fade.png");
    position: relative;
    margin-top: -5vh;
    height: 12vh;
    top:0;
    z-index: -1;
}

/*   NAV DROPDOWN STYLE    */

.dropdown-menu {
    border-left: 5px solid rgba(90, 00, 09,1);
    /*border-top: 5px solid rgba(90, 00, 09,1);*/
    /*border-bottom: 5px solid rgba(90, 00, 09,1);*/
    background-color: black;
    color: white;
}

.dropdown-item {
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
}

.dropdown-item:hover {
    background-color: rgba(90, 00, 09, 1);
    color: white;
}