
.HeroDivider_wrap{
    top:-33vh;
    position: sticky;
    position: -webkit-sticky;
    /*z-index: -1;*/
    /*z-index: 1;*/

}

.HeroDivider_no-img-wrap{
    top: 5vh;
    padding-top: 1vh;
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    z-index: -1;
}


/*=============== IMG / TITLE WRAP*/
.HeroDivider_img-title-wrap {
    background-attachment: fixed;
    background-color: #FBFAFB;
    background-repeat: no-repeat;
    height:300px;
    z-index: 1;

}



/* ==================   TITLE   =====================*/
.HeroDivider_title {
    font-size: 4vw;
    background-color: #660708;
    padding: 0 1em 0 1em;
    color: white;
}

/*================= GRAPHIC =====================*/
.HeroDivider_graphic{
    /*background-image: url("../images/bg-graphics/graphics/transparent-divider.png");*/
    /*background-image: url("../images/bg-graphics/graphics/gray-divider.png");*/
    background-image: url("../images/bg-graphics/graphics/black-top-large-left-lg-size.png");
    background-repeat: no-repeat;
    height: 300px;
    top: -20vh;
    z-index: 1;
    transform: rotateY(180deg) rotateX(78deg);
}


/*================ MEDIA QUERY (900px) ===============*/
/*@media (max-width: 1024px) {*/
@media (max-width: 900px) {
    .HeroDivider_wrap{
        top: -42vh;
    }

    /* ===========  TITLE  ============*/
    .HeroDivider_title {
        background-color: #660708;
        color: white;
        font-size: 5vw;
        padding-left: 1em ;
        padding-right: 1em ;
    }

    /*============  GRAPHIC  ==============*/
    .HeroDivider_graphic{
        background-image: url("../images/bg-graphics/graphics/black-top-large-left.png");
        background-repeat: no-repeat;
        height: 300px;
        top: -15vh;
        z-index: -1;
        transform: rotateY(180deg) rotateX(60deg);
    }

}

/*================ MEDIA QUERY (400px) ===============*/
@media (max-width: 400px) {

    .HeroDivider_img-title-wrap {
        background-position: 10% 0;
    }

    .HeroDivider_wrap{
        top: -55vh;
    }

}

/*================ MEDIA QUERY (1100px) ===============*/
/*@media (max-width: 1100px) && (min-width:*/