/* HOME CAROUSEL */
/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

.carousel {
    width: 100vw;
    max-width: 100%;
    height: 25em;
    max-height: 25em;
    contain: content;
    /*object-fit: cover;*/
    /*object-fit: scale-down;*/
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
}

.carousel-caption {
    width: 30%;
    top: 20%;
    left: 8%;
    color: #fff !important;
}

/*.carousel-item > img {*/
/*    width: 100vw;*/
/*    display: block;*/
/*}*/
/*.carousel-item .img-fluid {*/
/*    width:100%;*/

/*    height:100%;*/
/*    !*position: fixed;*!*/
/*    !*display: block;*!*/
/*}*/

.carousel a {
    margin: 0 auto;
}

/*  IMAGES ON AND BELOW  */
#overlayImg {
    position: absolute;
    top: 0;
    left: 0;
}

#dividerImg {
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 40vh;
    transform: rotateX(260deg);
}

