/* HOME CAROUSEL */

.carousel {
    width: 100%;
    height: 20em;
    max-height: 20em;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
}

.carousel-caption {
    width: 30%;
    top: 25%;
    left: 8%;
}

/*.carousel-caption h5 {*/
/*    margin-top: 30%;*/
/*}*/

/*.carousel-caption h2 {*/
/*    color: #fff;*/
/*    margin-top:5%;*/
/*}*/

.carousel img {
    width: 150vw;
    max-width: 100vw;
    height: 29em;
    max-height: 29em;
    margin-left: auto;
    margin-right: auto;
}

.carousel a {
    margin: 0 auto;
}

#overlayImg {
    position: relative;
    height: 39em;
    max-height: 39em;
    margin-top: -30em;
}

#dividerImg {
    margin-top: -6em;
    height: 13.2em;
    max-height: 13.2em;
    width: 80vw;
    z-index: -1;
    position: relative;
    contain: content;
    transform: rotate(2.9deg);
}

