*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    max-width: 100%;
    contain: content;
}

main {
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
    min-height: 80vh;
}

/* SITE COLOR */
.bisonRedBtmBorder{
    border-bottom: 3px solid #900009;
}

.bisonRedTxt{
    color: rgba(90, 00, 09, 1);
}

.bisonRedBgColor{
    background-color: rgba(90, 00, 09, 1);
}

.bisonRedBtn{
    background-color: rgba(90, 00, 09, 1);
}

.bisonRedBtn:hover {
    background-color: white;
    color: rgba(90, 00, 09, 1);
}

.bisonWhiteBtn{
    background-color: #f6f5f8;
    color: rgba(90, 00, 09, 1);
}

.bisonWhiteBtn:hover {
    background-color: rgba(90, 00, 09, 1);
    color: white;
}

/*   FONT-AWESOME   */
.socialIcons:hover{
    color: rgba(90, 00, 09, 1);
}


h3 {
    padding: 1rem 0;
}

.rating span {
    margin: 0.1rem;
}

h1{
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

.inline {
    display: inline-block;
}

/*  CARDS   */


.circleHover:hover {
    background-color: black;
}

/* HEADER LOGO */
.logoNav {
    height: 12vh;
}

.imgCard {
    width: 80vh;
    max-width: 100%;
    height: 30vw;
    max-height: 100%;
}

.imgCardAvionics {
    width: 80vh;
    max-width: 100%;
    height: 25vw;
    max-height: 100%;
}

.imgCardAbout {
    width: 70vh;
    max-width: 100%;
    height: 25vw;
    max-height: 100%;
}

.textCard {
    width: 100vh;
    max-width: 100%;
    height: 25vw;
    max-height: 100%;
    }

.cardStyle{
    /*margin-top: 10vh;*/
}

.fadeCardLeft{
    /*background-image: url("src/images/graphics/black-top-large-left.png");*/
    background-repeat: no-repeat;
    height: 48vh;
    background-color: white;
    margin-top: -20vh;
    z-index: -1;
    padding: 0;
    /*transform: rotate(240deg);*/
    transform: scale(-1, 1);
}

.fadeCardRight{
    /*background-image: url("src/images/graphics/black-top-large-left.png");*/
    background-repeat: no-repeat;
    height: 35vh;
    background-color: white;
    margin-top: -20vh;
    z-index: -1;
    padding: 0;
    /*transform: rotate(240deg);*/
    /*transform: scale(-1, -1);*/
}

.overlayImg{
    width: 30vh;
    height: 25vh;
}

/* MOBILE RESPONSIVE */
@media (max-width: 900px) {
    .carousel-caption h2 {
        font-size: 2.5vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {

    .product-page-section {
        min-width: 350px;
    }

    .product-page-section:nth-child(3) {
        margin: 20px 0 0 50%;
    }
}
