* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    max-width: 100%;
    contain: content;
    background-color: #fff;
    /*background-color: #f6f5f8;*/
}

html {
    scroll-behavior: smooth;
}

main {
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
    min-height: 80vh;
}

/* FONT JUMBO */
h1, .accentFont {
    font-family: 'Sanchez', serif;
}

p{
    font-size: 16px;
}



/* SITE COLOR */
.bisonRedBtmBorder {
    border-bottom: 3px solid rgba(90, 00, 09, 1);
}

.bisonRedTxt {
    color: rgba(90, 00, 09, 1);
}

.bisonRedBgColor {
    background-color: rgba(90, 00, 09, 1);
}

.bisonRedBtn {
    background-color: rgba(90, 00, 09, 1);
}

.bisonRedBtn:hover {
    background-color: white;
    color: rgba(90, 00, 09, 1);
    /*border: 1px solid rgba(90, 00, 09, 1);*/
}

.bisonWhiteBtn {
    background-color: #fff;
    color: rgba(90, 00, 09, 1);
}

.bisonWhiteBtn:hover {
    background-color: rgba(90, 00, 09, 1);
    color: white;
}
.bisonWhiteBtnIcon {
    background-color: #fff;
    color: rgba(90, 00, 09, 1);
    font-size: 1.5em;
}

.bisonWhiteBtnIcon:hover {
    /*background-color: rgba(90, 00, 09, 1);*/
    /*color: white;*/
    font-size: 1.8em;
}

.bisonWhiteBtnSearch {
    background-color: #f6f5f8;
    color: rgba(90, 00, 09, 1);
}

.bisonWhiteBtnSearch:hover {
    background-color: rgba(90, 00, 09, 1);
    color: white;
}

.right-gradient{
    background-image: linear-gradient(to right, rgba(90, 00, 09, 1), #fff);
}

.left-gradient{
    background-image: linear-gradient(to left, rgba(90, 00, 09, 1), #fff);
}

/*   FONT-AWESOME   */
.socialIcons:hover {
    color: rgba(90, 00, 09, 1);
}

/* HIDE AND SHOW ICONS */
.iconHidden .hideIcon {
    display: none;
}

.iconHidden:hover .hideIcon {
    display: inherit;
}

.iconHidden:hover .hideWords {
    display: none;
}

/*  HORIZONTAL GRADIENT    */
.horizontal-gradient {
    background: linear-gradient(rgba(04, 06, 07, 1), #fff);
}

h3 {
    padding: 1rem 0;
}

.rating span {
    margin: 0.1rem;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

.inline {
    display: inline-block;
}

/*  CARDS   */
.circleHover:hover {
    background-color: black;
}

/* HEADER LOGO */
.logoNav {
    height: 12vh;
}

.imgCard {
    width: 80vh;
    max-width: 100%;
    height: 30vw;
    max-height: 100%;
}

.imgCardAvionics {
    width: 80vh;
    max-width: 100%;
    height: 25vw;
    max-height: 100%;
}

.imgCardAbout {
    width: 70vh;
    max-width: 100%;
    height: 25vw;
    max-height: 100%;
}

.textCard {
    width: 100vh;
    max-width: 100%;
    height: 25vw;
    max-height: 100%;
}

.cardStyle {
    /*margin-top: 10vh;*/
}

.fadeCardLeft {
    /*background-image: url("src/images/graphics/black-top-large-left.png");*/
    background-repeat: no-repeat;
    height: 48vh;
    background-color: white;
    margin-top: -20vh;
    z-index: -1;
    padding: 0;
    /*transform: rotate(240deg);*/
    transform: scale(-1, 1);
}

.fadeCardRight {
    /*background-image: url("src/images/graphics/black-top-large-left.png");*/
    background-repeat: no-repeat;
    height: 35vh;
    background-color: white;
    margin-top: -20vh;
    z-index: -1;
    padding: 0;
    /*transform: rotate(240deg);*/
    /*transform: scale(-1, -1);*/
}

.overlayImg {
    width: 30vh;
    height: 25vh;
}

.overlay {
    position: absolute;
    bottom: 25%;
    left: 0;
    right: 0;
    background-color:rgba(90, 00, 09, .9);
    /*background-color:rgba(0, 0, 0, .7);*/
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
    border-left: 10px solid white;
    border-right: 10px solid white;
}

.hoverTitle:hover .overlay {
    bottom: 25%;
    height: 100%;
    background-color: black;
    /*background-color:rgba(90, 00, 09, 1);*/
    /*border: 2px solid black;*/
    border-radius: 0;
    transform: scale(1.5)
}

/*.hoverTitle:hover .hoverImage{*/
/*    transform: scale(1.5);*/
/*    transition: transform .7s;*/
/*}*/

/*.hoverTitle:hover .hoverHide{*/
/*    display:none;*/
/*}*/

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*  CAROUSEL INDICATORS  */
.carousel-control-prev, .carousel-control-next, .carousel-indicators {
    display: none;
}

/*IMG HOVER ZOOM IN*/
.img-hover-zoom {
    /*height: 300px; !* [1.1] Set it as per your need *!*/
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

.img-hover-zoom--slowmo img {
    transform-origin: 50% 65%;
    transition: transform 5s, filter 3s ease-in-out;
    filter: brightness(120%);
}

/* The Transformation */
.img-hover-zoom--slowmo:hover img {
    filter: brightness(150%);
    transform: scale(2);
}

/*ZOOM IN AND OUT AUTO*/
/*.img-hover--zoom-rotate img {*/
/*    !*height: 300px; !* [1.1] Set it as per your need *!*!*/
/*    overflow: hidden; !* [1.2] Hide the overflowing of child elements *!*/
/*    animation:zoom 5s infinite;*/
/*    -webkit-animation:zoominout 5s infinite;*/
/*}*/


/* Chrome, Safari, Opera */
@-webkit-keyframes zoominout {
    0% {
        -webkit-transform: scale(1.15,1.15);
    }
    50% {
        -webkit-transform: scale(1,1);
    }
    100% {
        -webkit-transform: scale(1.15, 1.15);
    }
}
/* Standard syntax */
@keyframes zoominout {
    0% {
        -webkit-transform: scale(1.15,1.15);
    }
    50% {
        -webkit-transform: scale(1,1);
    }
    100% {
        -webkit-transform: scale(1.15, 1.15);
    }
}

.img-hover-zoom--zoom-n-out img {
    -webkit-animation: zoominout 25s; /* Chrome, Safari, Opera */
    animation: zoominout 25s;
}

/*    ZOOM IN OUT SLOW    */
@-webkit-keyframes zoominoutslow {
    0% {
        -webkit-transform: scale(1.15,1.15);
    }
    50% {
        -webkit-transform: scale(1,1);
    }
    100% {
        -webkit-transform: scale(1.15, 1.15);
    }
}
/* Standard syntax */
@keyframes zoominoutslow {
    0% {
        -webkit-transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(1.15,1.15);
    }
    100% {
        -webkit-transform: scale(1, 1);
    }
}

.img-hover-zoom--zoom-n-out-slow img {
    -webkit-animation: zoominoutslow 25s; /* Chrome, Safari, Opera */
    animation: zoominoutslow 25s;
    overflow: hidden;
}

/* MOBILE RESPONSIVE */
@media (max-width: 900px) {
    .carousel-caption h2 {
        font-size: 2.5vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {

    .product-page-section {
        min-width: 350px;
    }

    .product-page-section:nth-child(3) {
        margin: 20px 0 0 50%;
    }
}
