.ProductScreen_img-magnify{
    z-index: 3000;
    position: relative;
}

.ProductScreen_img-magAb{
    position: absolute;
    z-index: 1;
    border: none;
}

.ProductScreen_img p{
    margin-left: -10vw;
}

#productTab ul > li.active > a{
    background-color: #660708;
}

@media (max-width: 900px) {

}