.SideBar-navbar {
    background-color: rgba(0, 0, 0, .5);
    /*background-color: #060b26;*/
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SideBar-menu-bars {
    /*background-color: rgba(0, 0, 0, .5);*/
    /*margin-left: 2rem;*/
    font-size: 1rem;
    /*background: none;*/
}

/*SIDE NAV LOGGED IN*/


.SideBar-nav-menu-user-logged {
    background-image: url("../images/bg-graphics/graphics/dots.png");
    background-color: rgba(0,0,0, 1);
    width: 20vw;
    height: 100vh;
    display: flex;
    justify-content: start;
    position: absolute;
    padding-left: 2vw;
    padding-top: 1vw;
    z-index: 2000;
    top: 6.5vh;
    left: -100vw;
    transition: 850ms;
}

.SideBar-nav-menu-user-logged.active {
    left: -2vw;
    transition: 350ms;
}

/* SIDE NAV NOT LOGGED IN*/

.SideBar-nav-menu-user-not-logged {
    background-image: url("../images/bg-graphics/graphics/dots.png");
    background-color: rgba(0,0,0, 1);
    width: 25vw;
    height: 50vh;
    display: flex;
    justify-content: start;
    position: absolute;
    padding: 2%;
    /*position: fixed;*/
    z-index: 2000;
    /*top: 7vh;*/
    right: -100%;
    transition: 850ms;
}

.SideBar-nav-menu-user-not-logged.active {
    /*left: 0;*/
    right: 0;
    transition: 350ms;
}

.SideBar-nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 4px 0 4px 0;
    list-style: none;
}

.SideBar-nav-text a {
    font-weight: lighter;
    text-decoration: none;
    color: rgba(255,255,255, .8);
    font-size: 1.2vw;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .5vw 16px;
    /*border-left: 1px solid #2576e5;*/
    border-left: 1px solid rgba(255,255,255,.8);
}

.SideBar-nav-text a:hover {
    background-color: #660708;
    color: #fff;
    border-left: 1px solid rgba(255,255,255,.8);
}

.SideBar-nav-menu-items {
    margin-top: 10px;
    width: 100%;
}

.SideBar_Name{
    font-size: 1.2vw;
    /*color: white;*/
    color: #2576e5;
    /*border-left: 2px solid #2576e5;*/
    padding-left: 1vw;
    font-weight: lighter;
}

.SideBar_Name:hover{
    color: white;
}

.SideBar_admin a{
    background-color: lightgrey;
    color: black;
}