


/*================= CAROUSEL ======================*/
.global_HeroCarousel-animation {
    -webkit-animation: zoomin 25s; /* Chrome, Safari, Opera */
    animation: zoomin infinite 25s;
    width: 100vw;
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
}

@-webkit-keyframes zoomin {
    0% {
        -webkit-transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(1.1, 1.1);
    }
    100% {
        -webkit-transform: scale(1, 1);
    }

}
/* Standard syntax */
@keyframes zoomin {
    0% {
        transform: scale(1, 1);
    }
    50%{
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }

}

.global_carousel-divider-img{
    width: 75vw;
}

.global_carousel-text-box{

    margin-top: -45vh;
    margin-left: -5vw;
    width: 75%
}
.global_carousel-title{
    font-size: 2.8vw !important;
}

.global_carousel-letter{
    font-size: 4vw !important;
}

.global_carousel-text{
    font-size: 1.2vw !important;
    font-weight: lighter;
}

.global_carousel-text-top-bar {
    height: 1.2vh !important;
    margin-top: -3vh;
    background-color: #660708;
}

.global_carousel-text-btm-bar{
    height: 1.2vh !important;
    margin-top: 3vh;
    background-color: #660708;
    /*background-color: rgba(255, 255, 255, .5);*/
}

/*    ======   MOBILE RESPONSIVE    ======    */
@media (max-width: 600px) {
    .global_carousel-divider-img{
        width: 250vw;
    }

    .global_carousel-social-icons{
        margin-left: 25vw;
    }

    .global_carousel-title{
        font-size: 6vw !important;
    }

    .global_carousel-letter{
        font-size: 8vw !important;
    }

    .global_carousel-text{
        font-size: 3vw !important;
    }

    /*.global_carousel-text-box{*/
    /*    z-index: 1;*/
    /*    text-align: center;*/
    /*    width: 80vw;*/
    /*}*/

    .global_HeroCarousel-animation{
        height: 85vh;
    }

    .global_carousel-text-box{
        margin-top: -55vh;
        z-index: 1;
        display: flex;
        justify-content: center;
    }

}
