.HeroCarousel_animation {
    -webkit-animation: zoomin 25s; /* Chrome, Safari, Opera */
    animation: zoomin infinite 25s;
    width: 100vw;
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
}

@-webkit-keyframes zoomin {
    0% {
        -webkit-transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(1.1, 1.1);
    }
    100% {
        -webkit-transform: scale(1, 1);
    }

}
/* Standard syntax */
@keyframes zoomin {
    0% {
        transform: scale(1, 1);
    }
    50%{
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }

}

.HeroCarousel_carousel-divider-img{
    width: 75vw;
}

.HeroCarousel_carousel-text-box{
    margin-top: -45vh;
    margin-left: -5vw;
    width: 75%
}

.HeroCarousel_carousel-title{
    font-size: 2.8vw !important;
}

.HeroCarousel_carousel-letter{
    font-size: 4vw !important;
}

.HeroCarousel_carousel-text{
    font-size: 1.2vw !important;
    font-weight: lighter;
}

.HeroCarousel_carousel-text-top-bar {
    height: 1.2vh !important;
    margin-top: -3vh;
    background-color: #660708;
}

.HeroCarousel_carousel-text-btm-bar{
    height: 1.2vh !important;
    margin-top: 3vh;
    background-color: #660708;
    /*background-color: rgba(255, 255, 255, .5);*/
}

/*    ======   MOBILE RESPONSIVE    ======    */
@media (max-width: 600px) {
    .HeroCarousel_carousel-divider-img{
        /*width: 250vw;*/
        width: 100%;
    }

    .HeroCarousel_carousel-social-icons{
        /*margin-left: 25vw;*/
        /*margin-left: 25vw;*/
    }

    .HeroCarousel_carousel-title{
        font-size: 6vw !important;
    }

    .HeroCarousel_carousel-letter{
        font-size: 8vw !important;
    }

    .HeroCarousel_carousel-text{
        font-size: 3vw !important;
    }

    .HeroCarousel_animation{
        height: 85vh;
    }

    .HeroCarousel_carousel-text-box{
        margin-top: -55vh;
        z-index: 1;
        display: flex;
        justify-content: center;
    }

    /*.HeroCarousel_carousel-text-box{*/
    /*    margin-top: -45vh;*/
    /*    margin-left: -5vw;*/
    /*    width: 75%*/
    /*}*/

}
