.Mechanics_learn-more-btn{
    color: #660708;
    text-decoration: underline;
}

.Mechanics_learn-more-btn:hover{
    color: #161A1D;
}

.Mechanics_margin-pos-top{
    margin-top: 10vw;
}

.Mechanics_margin-neg-top{
    margin-top: -5vw;
}

.Mechanics_title{
    height: 100px;
    text-shadow: 2px 2px 4px #111111;
}

.Mechanics_row{
    height: 150px;
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.6), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 25px;
    color: #fff;
}

.Mechanics_col{
    height: 100px;
}

.Mechanics_text{
    font-size: 30px;
    font-weight: lighter;
    text-shadow: 2px 2px 4px #000000;
    margin: auto;
}

.Mechanics_title{
    background-color: rgba(255,255,255,.1);
}