.HomeServices_col {
    background-color: #000;
    height: max-content;
    max-height: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, .0);
}

.HomeServices_col:hover {
    background-color: rgba(255,255,255,.1);
    border-left: 1px solid #daa520;
    border-right: 1px solid #daa520;
}

.HomeServices_col-avionics {
    background-color: #000;
    height: max-content;
    max-height: border-box;
    border-left: 1px solid #daa520;
    border-right: 1px solid #daa520;
}

.HomeServices_col-avionics:hover{
    background-color: rgba(255,255,255,.1);
}

.HomeServices_description {
    color: rgba(255, 255, 255, .7);
}

.HomeServices_nav_text {
    color: white;
    width: inherit;
}

.fa-stack {
    font-size: .5em;
}

i {
    vertical-align: middle;
}

/*.Services_bg {*/
/*    height: max-content;*/
/*    background-color: rgba(255, 255, 255, .1);*/
/*}*/


/*    ======   MOBILE RESPONSIVE    ======    */
/*@media (max-width: 800px) {*/
    /*.Services_row {*/
    /*    height: auto;*/
    /*}*/

    /*.Services_nav_text:hover {*/
    /*    !*background-color: white;*!*/

    /*}*/

    /*.Services_text-row {*/
    /*    !*margin-top: 3em;*!*/
    /*}*/


/*}*/




