/*IMG ONE*/

.carouselImg1{
    background-image: url("../../images/bg-graphics/home-screen/home-slider/large-flir.png");
}

/*IMG 2*/

.carouselImg2{
    background-image: url("../../images/bg-graphics/home-screen/home-slider/fullscreen-slider2.png");
}

/*IMG 3*/

.carouselImg3{
    background-image: url("../../images/bg-graphics/home-screen/home-slider/cnc-machine copy.png");
}

/*IMG 4*/

.carouselImg4{
    background-image: url("../../images/bg-graphics/home-screen/home-slider/riveting-large.png");
}

/*IMG 5*/

.carouselImg5{
    background-image: url("../../images/bg-graphics/home-screen/home-slider/large-flir.png");
}