.RepairAward_bg-img{
    background-image: url("../../images/bg-graphics/home-screen/repair-award/repair-line-no-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    /*height: 0vh;*/
    background-color: rgba(0,0,0,.5);
}

/*.RepairAward_bg{*/
/*    height: 5vh;*/
/*    background-color: rgba(0,0,0,.5);*/
/*}*/