.RepairAward_bg-img{
    background-image: url("../../images/bg-graphics/repair-award/repair-line-dark.png");
    /*background-image: url("../../images/bg-graphics/repair-award/repair-line.png");*/
    background-position: center;
    background-repeat: no-repeat;
    height: 96px;
}