
.Services_description{
    line-height:1.5vw;
    color: rgba(255,255,255, .7);
}

.Services_nav_text {
    color: white;
    /*background-color: rgba(0, 0, 0, .5);*/
    padding: .5em 1em .5em 1em;
    width: inherit;
}


.Services_text{
    background-color: rgba(0, 0, 0, .5);
}



/*    ======   MOBILE RESPONSIVE    ======    */
@media (max-width: 900px) {
    .Services_nav_text {
        /*background-color: #660708;*/
        width: 50vh;
        padding: 0 1em 0 1em;
    }

    .Services_nav_text:hover{
        /*background-color: white;*/
        color: #660708;
    }

    .Services_text-row{
        /*margin-top: 3em;*/
    }


}




