.GarminAd_flag{
  position: absolute;
  font-size: 25px;
  left:15px;
  top:-12px;
  display: block;
  height: 46px;
  line-height: 24px;
  background: #daa520;
  padding: 10px 20px 10px 20px;
  font-weight: lighter;
  z-index: 1;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);

  &:after{
    position: absolute;
    right:-10px;
    top:0;
    content: "";
    border-right:  15px solid transparent;
    border-bottom: 23px solid #4c4c4c;
    border-top:    23px solid #4c4c4c;
  }

  &.red{
    background: #daa520;
    &:after{
      border-color:goldenrod transparent goldenrod transparent;
    }
  }


}