.GarminAd_img {
    background-image: url("./garmin-ad.png");
    /*height: 224px;*/
    /*width: 650px;*/
    background-repeat: no-repeat;
    background-position: center 45%;
}

.GarminAd_browse-products-btn {
    color: #F5F3F4;
    font-size: 16px;
    font-weight: lighter;
    z-index: 200;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    /*margin-top: 18vh;*/
}

.GarminAd_browse-products-btn:hover {
    background-color: #161A1D;
    font-weight: lighter;
    border: none;
}

/*    ======   MOBILE RESPONSIVE    ======    */
@media (max-width: 600px) {


    .GarminAd_img {
        background-position: center 50% ;
    }

}