.Contact_hero-img{
    /*background-image: url("src/components/Contact/contact-section-bg.png");*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 200px;
    background-position: 50% 0;
    width: 100vw;
    background-color: black;
}

.Contact_hero-img{
    background-image: url("./contact-section-bg.png");
    background-position: 50% 55%;
}


.Contact_border{
    border-left: 1px solid #2576e5;
    border-right: 1px solid #2576e5;
}


.Contact_icons{
    font-size: 4vw;
    /*color: #daa520;*/
    /*color: rgba(255,255,255,.5)*/
}

.Contact_icons-title{
    font-size: 1.5vw;
}

.Contact_title{
    color: red;
    font-size: 3vh;
    text-align: center;
}

.Contact_hero-title-box{
    width: 30vw;
}

.Contact_hero-title{
    font-size: 4vw;
    color: #660708;
}

.Contact_hover-terms:hover{
    text-decoration: underline;
    color: white;
}

/*@media (max-width: 900px) {*/
@media (max-width: 700px) {

    .Contact_icons{
        font-size: 8vw;
    }

    .Contact_icons-title{
        font-size: 3vw;
    }

    #Contact_responsive-padding{
        padding-top: 2vh;
    }

    .Contact_border{
        border:none;
    }

    .Contact_responsive-padding{
        padding-top: 5vh;
    }

    .Contact_responsive-map{
        margin-top: 10vh;
    }

    .ContactHero_title{
        font-size: 10vw;
    }

    .ContactHero_title-box{
        width: 100vw;
        margin-top: 5vh;
    }

}


@media (max-width: 500px) {

    .Contact_icons {
        font-size: 12vw;
    }
}