.ContactScreen_hero-img{
    background-image: url("../../../images/bg-graphics/screen-contact/contact-section-bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 200px;
    background-position: 50% 0;
    width: 100vw;
    background-color: black;
}

.Contact_border{
    border-left: 1px solid red;
    border-right: 1px solid red;
}

.Contact_icons{
    font-size: 2.5vw;
    color: red;
}

.Contact_icons-title{
    color: red;
}

.Contact_title{
    color: white;
}

/*.Contact_icons-text{*/
/*    color: red;*/
/*}*/

@media (max-width: 900px) {

    .Contact_icons{
        font-size: 3.5vw;
    }

    #Contact_responsive-padding{
        padding-top: 2vh;
    }

    .Contact_border{
        border:none;
    }
}