:root {
    /*--bg:  #000;*/
    /*--bg-accent: #484a4d;*/
    /*--text-color: #dadce1;*/
    --nav-size: 100px;
    /*--border: 1px solid #474a4d;*/
    /*--border-radius: 8px;*/
    --speed: 500ms;
}


.stick {
    /*position: sticky;*/
    /*top: 5%;*/
    /*z-index: 100;*/
    background-color: #fff;
    /*padding-top: 10%;*/
    margin-top: -10%;
}

.stick-margins {
    position: sticky;
    height: auto;
    top: 5%;
    z-index: 100;
    background-color: #fff;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

/* Top Navigation Bar */

.WishListTab_icon {
    color: white;
}

.WishListTab_icon:hover {
    color: red;
}

.wishList-navbar {
    padding: 0;
}

/* <ul> */
.wishList-navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}


/* <li> */
.wishList-nav-item {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.wishList-nav-item a:hover {
    text-decoration: none;
}

/* Dropdown Menu */

.wishList-Dropdown {
    position: absolute;
    top: 12.5vh;
    /*top: 58px;*/
    width: 150%;
    height: 100vh;
    max-height: 100vh;
    /*transform: translateX(-11%);*/
    transform: translateX(0%);
    background-color: #fff;
    /*border: var(--border);*/
    /*border-radius: var(--border-radius);*/
    padding: 1.5rem 3em 1.5em 1.5em;
    overflow-y: scroll;
    transition: none;
    /*transition: height var(--speed) ease;*/
}

.wishList-menu {
    height: 100%;
    max-height: 110vh;
    width: 90%;
}

.wishList-menu-item {
    /*border-radius: var(--border-radius);*/
    transition: background var(--speed);
    padding: 0.5rem;
}

.wishList-menu-item .wishList-icon-button {
    margin-right: 0.5rem;
}

.icon-right {
    margin-left: auto;
}

/*CSSTransition classes  */
.wishList-menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);

}

.wishList-menu-primary-enter-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
}

.wishList-menu-primary-exit {
    position: absolute;
}

.wishList-menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
}

.menu-secondary-enter {
    transform: translateX(110%);
}

.menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}

.menu-secondary-exit {

}

.menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
}

.WishListScreenImg{
    background-image: url("../../images/bg-graphics/jd-roel-flir-end.png");
}

/*.WishListScreen_graphic {*/
/*    z-index: 1;*/
/*}*/

.WishListScreen_HeroDivider-margin{
    /*margin-top: -45vh;*/
    /*margin-top: -55vh;*/
    padding-top: 5vh;
    z-index: 1;
    min-height: 100vh;
    /*top: 55vw;*/
}

.WishListScreen_clear-btn {
    /*margin-top: 22vh;*/
    margin-right: 10vw;
}

.WishListScreen_clear-btn-text{
    color: white;
}

.WishListScreen_clear-btn-text:hover{
    color: black;
}

.WishListScreen_x-btn{
    /*margin-top: 25vh;*/
    margin-left: 1vw;
    /*padding: 0 1vw 0 1vw;*/
}

.WishListScreen_x-btn:hover{
   font-size: 2vh;
}

.WishListScreen_content{
    padding-top: 50vh;
}

.WisListEmail_scroll-box{
    max-height: 55vh;
    overflow-y: scroll;
}


/*    ======   MOBILE RESPONSIVE    ======    */
@media (max-width: 900px) {


    .WishListScreen_clear-btn {
        /*margin-top: 32vh;*/
        /*margin-right: 10vw;*/
        background-color: transparent;
        color: black;
    }

    .WishListScreen_mobile-sign-in{
        /*font-size: 5em;*/
        font-size: 2vh;
    }

    .WisListEmail_scroll-box{
        /*max-height: 55vh;*/
        max-height: 1000vh;
        overflow-y: inherit;
    }

}
