:root {
    /*--bg:  #000;*/
    /*--bg-accent: #484a4d;*/
    /*--text-color: #dadce1;*/
    --nav-size: 100px;
    /*--border: 1px solid #474a4d;*/
    /*--border-radius: 8px;*/
    --speed: 500ms;
}


.stick {
    /*position: sticky;*/
    /*top: 5%;*/
    /*z-index: 100;*/
    background-color: #fff;
    /*padding-top: 10%;*/
    margin-top: -10%;
}

.stick-margins {
    position: sticky;
    height: auto;
    top: 5%;
    z-index: 100;
    background-color: #fff;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

/* Top Navigation Bar */

.WishListTab_icon {
    color: white;
}

.WishListTab_icon:hover {
    color: red;
}

.wishList-navbar {
    padding: 0;
}

/* <ul> */
.wishList-navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}


/* <li> */
.wishList-nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wishList-nav-item a:hover {
    text-decoration: none;
}

/* Dropdown Menu */

.wishList-Dropdown {
    position: absolute;
    top: 7.2vh;
    /*top: 58px;*/
    width: 150%;
    height: 100vh;
    max-height: 100vh;
    /*transform: translateX(-11%);*/
    transform: translateX(0%);
    background-color: #fff;
    /*border: var(--border);*/
    /*border-radius: var(--border-radius);*/
    padding: 1.5rem 3em 1.5em 1.5em;
    overflow-y: scroll;
    transition: none;
    /*transition: height var(--speed) ease;*/
}

.wishList-menu {
    height: 100%;
    max-height: 110vh;
    width: 90%;
}

.wishList-menu-item {
    /*border-radius: var(--border-radius);*/
    transition: background var(--speed);
    padding: 0.5rem;
}

.wishList-menu-item .wishList-icon-button {
    margin-right: 0.5rem;
}

.icon-right {
    margin-left: auto;
}

/*CSSTransition classes  */
.wishList-menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);

}

.wishList-menu-primary-enter-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
}

.wishList-menu-primary-exit {
    position: absolute;
}

.wishList-menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
}

.menu-secondary-enter {
    transform: translateX(110%);
}

.menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}

.menu-secondary-exit {

}

.menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
}

.WishListScreen_hero-img {
    background-image: url("../../images/bg-graphics/jd-roel-flir-end.png");
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    height: 200px;
    background-position: 50% -9vh;
    width: 100vw;
    /*background-color: black;*/
    top: 6vh;
    z-index: 5;
}

.WishListScreen_title {
    font-size: 4vw;
    color: #660708;
    margin-left: 50vw;
    top: 50%;
}

.WishListScreen_graphic {
    z-index: 1;
    /*top: 5vh;*/
    top: 18vh;
    /*position: absolute;*/
}

.WishListScreen_container {
    margin-top: -25vh;
    padding-top: 10vh;
    z-index: -2;
}

.WishListScreen_clear-btn {
    margin-top: 22vh;
    margin-right: 10vw;
}

.WishListScreen_x-btn{
    margin-top: 25vh;
    margin-left: 10vw;
    padding: 0 1vw 0 1vw;
}

.WishListScreen_x-btn:hover{
   border-top: 1px solid black;
   border-bottom: 1px solid black;

}


/*    ======   MOBILE RESPONSIVE    ======    */
@media (max-width: 900px) {
    .WishListScreen_container {
        margin-top: -18vh;
        padding-top: 10vh;
        z-index: -2;
    }

    .WishListScreen_clear-btn {
        margin-top: 26vh;
        margin-right: 10vw;
    }

    .WishListScreen_x-btn{
        margin-top: 30vh;
        margin-left: 10vw;
        padding: 0 1vw 0 1vw;
    }

    .WishListScreen_clear-btn {
        margin-top: 29vh;
        margin-right: 10vw;
        background-color: transparent;
        color: black;
    }

}