.SocialIcons_socialIcons:hover {
    color: white;

}

.SocialIcons_socialIcons {
    font-size: 2em;
    color: white;
    padding-left: 3px;

}

.SocialIcons_socialIcons-size {
    font-size: 2em;
    color: white;
    padding-left: 3px;
}

.SocialIcons_row{
    width: 20vw;
}

.SocialIcons_col-bg{
    background-image: url("./social-icon-bg-blood-red.png");
    background-repeat: no-repeat;
    height: 65px;
    width: 64px;
}

.SocialIcons_col-bg:hover{
    background-image: url("./social-icon-bg-dark.png");
}

/*    ======   MOBILE RESPONSIVE    ======    */
@media (max-width: 1200px) {
    .SocialIcons_row{
        /*width: 100vw;*/
    }
}

@media (max-width: 800px) {
    .SocialIcons_row{
        /*width: 150vw;*/
    }

    .SocialIcons_col-bg{
        /*width:20vw !important;*/
    }


}