.ProductsSideBar_icon{
    position: -webkit-sticky;
    position: sticky;
    top: 12.5vh;
}


.ProductsSideBar_menu.active {
    width: 25vw;
    height: 100vh;
    display: flex;
    justify-content: end;
    /*position: absolute;*/
    position: -webkit-sticky;
    position: sticky;
    padding: 1vw 2vw;
    /*z-index: 10000;*/
    top: 13vh;
    left: 0;
    transition: 850ms;
    background-color: #fff;
    /*border-right: 1px solid #000;*/
}

.ProductsSideBar_menu {
    height: 0;
    left: -25vw;
    transition: 850ms;
}

.ProductsSideBar_search-form{
    z-index: 9800;
    width:  120%;
}

.ProductsSideBar_search-bar{
    background-color: rgba(0,0,0, .1);
    color: black;
}

.ProductsSideBar_text{
    display: flex;
    justify-content: start;
}

.ProductsSideBar_sub-titles {
    font-weight: bolder;
    width: 100%;
    color: #660708;
    margin-top: 2vw;
}

.ProductsSideBar_sub-titles:hover{
    text-decoration: underline;
}

.ProductsSideBar_items {
    color: black;
    margin: 0;
    width: 100%;
    padding: 0;
    font-weight: lighter;
}

.ProductsSideBar_items:hover {
    padding-left: 1vh;
    padding-right: 1vh;
    background-color: lightgrey;
    color: black;
}

.ProductsSideBar_items-bg{
    background-color: #fff;
    /*background-color: rgba(0,0,0, .1);*/
    padding: .5vw 0 .5vw 1vw;
}

.ProductsSideBar_screen-bg{
    background-color: rgba(255,255,255, 1);
}

.ProductsSideBar_scroll{
    overflow-y: scroll;
}

/*    ======   MOBILE RESPONSIVE    ======    */
@media (max-width: 1000px) {
    .ProductsSideBar_menu-items {
        /*z-index: 9000;*/
        /*position: -webkit-sticky;*/
        /*position: sticky;*/
        /*top: 0;*/
        /*background-color: rgba(0, 0, 0, 1);*/
        /*padding-left: 1vw;*/
        /*padding-top: 8vh;*/
        /*margin-top: -8vh;*/

    }


    /*.CatMan_card-text{*/
    /*    width: auto;*/
    /*}*/

    /*.CatMan_card-img{*/
    /*    height: 20vh;*/
    /*    margin-left: 20%;*/
    /*}*/

    .ProductsSideBar_text{
        display: flex;
        justify-content: center;
    }

    .CatMan_products{
        display: block;
    }

}