
.ProductsSideBar_hamburger-menu {
    position: -webkit-sticky;
    position: sticky;
    top: 12.5vh;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    background-color: #fff;
}

.ProductsSideBar_selected-cat {
    position: -webkit-sticky;
    position: sticky;
    top: 12.8vh;
    justify-content: flex-start;
    z-index: 1000;
    background-color: #fff;
}

.ProductSideBar_sticky-search {
    z-index: 1000;
    position: -webkit-sticky;
    position: sticky;
    top: 13vh;
}

.ProductsSideBar_search-bar {
    color: black;
    width: 50vw;
    /*border-bottom: 1px solid #000;*/
    /*border-bottom-left-radius: 10%;*/
}

.ProductsSideBar_search-btn {
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
}

.ProductsSideBar_menu.active {
    max-height: calc(100vh - 10rem);
    min-height: calc(100vh - 10rem);
    height: 100%;
    overflow-y: auto;
    position: -webkit-sticky;
    position: sticky;
    padding: 1vw 2vw;
    margin-bottom: 5vw;
    top: 18vh;
    left: 0;
    transition: 850ms;
    background-color: #fff;
}

.ProductsSideBar_menu {
    height: 0;
    left: -1000px;
    transition: 850ms;
}

/*.ProductsSideBar_text {*/
/*    justify-content: flex-start;*/
/*}*/

.ProductsSideBar_sub-titles {
    font-weight: bolder;
    width: 100%;
    color: #660708;
    margin-top: 1.5vh;

}

.ProductsSideBar_sub-titles:hover {
    text-decoration: underline;
}

.ProductsSideBar_items{
    color: black;
    margin: 0;
    width: 100%;
    padding: 0;
    font-weight: lighter;
    text-align: start;
}

.ProductsSideBar_items:hover {
    padding-left: 1vh;
    padding-right: 1vh;
    background-color: lightgrey;
    color: black;
}

.ProductsSideBar_items-bg {
    background-color: #fff;
    padding: .5vw 0 .5vw 1vw;
}

.ProductsSideBar_screen-bg {
    background-color: rgba(255, 255, 255, 1);
}

.ProductsSideBar_scroll {
    /*overflow-y: hidden;*/
    /*overflow-y: scroll;*/
}

/*    ======   MOBILE RESPONSIVE    ======    */
@media (max-width: 1150px) {

    .ProductsSideBar_hamburger-menu {
        top: 0;
    }

    .ProductsSideBar_selected-cat {
        top: 5vh;
    }

    .ProductsSideBar_icon {
        margin-top: 4vh;
        top: 5vh;
        background-color: #fff;
    }

    .ProductsSideBar_menu.active {
        top: 7vh;
        background-color: #fff;
        padding-left: 5vw;
    }
}


@media (max-width: 700px) {
    .ProductsSideBar_menu.active {
        margin-left: 20vw;
    }

    .ProductsSideBar_selected-cat {
        top: 5.5vh;
    }


}

