

.ProductsSideBar_sub-titles {
    font-weight: bolder;
    padding: 0 3vh 0 3vh;
    /*color: #fff;*/
    margin-top: 2vw;
}

.ProductsSideBar_sub-titles:hover {
    padding: 0 3vh 0 3vh;
}

.ProductsSideBar_items {
    padding-left: 2vh;
    color: black;
    font-weight: lighter;
    display: flex;
    justify-content: flex-start;
}

.ProductsSideBar_items:hover {
    padding-left: 2vh;
    background-color: lightgrey;
    color: black;
}

.ProductsSideBar_items-bg {
    background-color: #fff;
    padding: .5vw 0 .5vw 1vw;
}

/*.ProductsSideBar_screen-bg {*/
/*    background-color: rgba(255, 255, 255, 1);*/
/*}*/

/*!*    ======   MOBILE RESPONSIVE    ======    *!*/
/*@media (max-width: 1150px) {*/

/*    .ProductsSideBar_hamburger-menu {*/
/*        top: 0;*/
/*    }*/

/*    .ProductsSideBar_selected-cat {*/
/*        top: 5vh;*/
/*    }*/

/*    .ProductsSideBar_icon {*/
/*        margin-top: 4vh;*/
/*        top: 5vh;*/
/*        background-color: #fff;*/
/*    }*/

/*}*/


/*@media (max-width: 700px) {*/

/*    .ProductsSideBar_selected-cat {*/
/*        top: 5.5vh;*/
/*    }*/

/*    .ProductsSideBar_items, .ProductsSideBar_text {*/
/*        padding-left: 15vw;*/
/*    }*/

/*    .ProductsSideBar_menu.active {*/
/*        !*text-align: center;*!*/
/*        top: 7vh;*/
/*        background-color: #fff;*/
/*    }*/
/*}*/

