

.Sidebar_title {
    font-weight: bolder;
    padding: 0 3vh 0 3vh;
    /*color: #fff;*/
    margin-top: 2vw;
}

.Sidebar_title:hover {
    padding: 0 3vh 0 3vh;
}

.ProductsSideBar_items {
    padding-left: 2vh;
    color: black;
    font-weight: lighter;
    display: flex;
    justify-content: flex-start;
}

.ProductsSideBar_items:hover {
    padding-left: 2vh;
    background-color: lightgrey;
    color: black;
}


