
.FlirHero_img{
    background-image: url("./images/large-flir.png");
    background-position: 50% 10%;
}

.FlirHero_text-color{
    color: white;
}

.FlirTable_style{
    font-size: 1vw;
    background-color: black;
    color: white;
}

.FlirTable_style tr:hover{
    background-color: rgba(255,255, 255, .6);
    color: black;
}

.FlirTable_style tr th{
    background-color: #660708;
}

.FlirTable_style tr th{
    padding:  1vh;
}

.FlirTable_style tr td{
    border: 1px solid gray;
    padding: 1vh;
}

.FlirScreen_style{
    margin-right: 10vw ;
    margin-left: 10vw ;
}

.Flir_hover-terms{
    text-decoration: underline;
}

.Flir_hover-terms:hover{
    color: white;
    cursor: pointer;
}

/*    ======   MOBILE RESPONSIVE    ======    */
@media (max-width: 900px) {
    .FlirTable_style{
        font-size: 1vw;
        background-color: black;
        color: white;
    }

}