/*       MOBILE HEADER       */
.HeaderMobile_logo {
    height: 10vh;
}

.MobileHeader_search_btn_padding {
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
}

.HeaderMobile_social-icons{
    font-size: 4.5vw;
}

.HeaderMobile_top-rounded-border{
    border-top-left-radius: 5vw;
}

.HeaderMobile_text {
    color: white;
    font-size: 3.3vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-left: 5vw;
    border-left: 6px solid #daa520;
    margin: 0;
}

.HeaderMobile_text:hover {
    border-left: 6px solid #000;
    color: #daa520;
}

.HeaderMobile_text-contact {
    color:#daa520;
    font-size: 4vw;
    padding-left: 30px;
    border-left: 6px solid #daa520;
    margin: 0;
}

.HeaderMobile_text-contact:hover {
    border-left: 6px solid #daa520;
    color: #fff;
}
