.carousel .slide {
    background: #fff !important;
    color: black;
    height: 100%;
}

.carousel .control-dots {
    display: none;
}

.myCarousel h3 {
    color: #222;
    letter-spacing: 0.2px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 17px;
}

.myCarousel p {
    font-weight: 100 !important;
    line-height: 25px !important;
    color: #222;
    font-size: 15px;
    font-family: sans-serif;
    max-height: 100px;
}

.myCarousel p:before {
    display: none;
}

.myCarousel p:after {
    display: none;
}

.carousel .control-dots .dot {
    display: none;
}

.carousel.carousel-slider .control-arrow {
    display: none;
}

.ProductCarousel_img{
    height: 30vh;
}


@media only screen and (max-width: 950px) {
    .carousel-root {
        outline: 0;
        width: 100% !important;
        margin: auto !important;
        height: auto;
    }

    .carousel.carousel-slider .control-arrow {
        display: none !important;
    }

    .myCarousel {
        margin-top: -9%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 8% 5% 8% 5%;
        height: auto;
    }

    .carousel .control-dots {
        display: none;
    }

}

@media only screen and (max-width: 500px) {
    .carousel-root {
        padding-top: 10%;
    }
}