
.TeamScreen_hero-img{
    background-image: url("../../../images/bg-graphics/screen-team/team.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 250px;
    background-position: 50% 45%;
    width: 100vw;
    background-color: black;
}

.Team_blue{
    color: #2576e5
}