.Team_underline{
    /*text-decoration: underline;*/
}

.TeamScreen_hero-img{
    background-image: url("../../../images/bg-graphics/screen-team/small-team.jpg");
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    background-position: center;
    background-color: black;
}

.Team_blue{
    color: #2576e5
}